<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_items.each do |collection_item| %>
      <tr>
        <td><%= collection_item.name %></td>
        <td><%= link_to 'Show', collection_item_path(collection_item) %></td>
        <td><%= link_to 'Edit', edit_collection_item_path(collection_item) %></td>
        <td><%= link_to 'Destroy', collection_item_path(collection_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_collection_item_path %>
